<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - controle de cursos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body class="max-w-[1344px] m-auto py-4 h-screen bg-zinc-900 text-white">
    <header>
        <nav class="flex items-center justify-start gap-24">
            <a class="text-2xl" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/assets/logo.png" alt="">
            </a>
            <div class="flex items-center gap-12">
                <a class="text-white font-bold text-lg" asp-area="" asp-controller="Home" asp-action="Index">
                    Candidatos
                </a>
                <a class="text-white font-bold text-lg" asp-area="" asp-controller="Home" asp-action="Index">
                    Cursos
                </a>
            </div>
        </nav>
    </header>

    <main class="flex justify-center" role="main">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
