<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - controle de cursos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body class="max-w-[1344px] m-auto py-4">
    <header>
        <nav class="flex items-center justify-between">
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">controle_de_cursos</a>
            <div class="flex items-center gap-4">
                <a class="bg-blue-600 text-white p-2 rounded-md flex items-center justify-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="ph-house-bold text-3xl"></i>
                </a>
                <a class="" asp-area="" asp-controller="Privacy" asp-action="Index">Privacidade</a>
            </div>
        </nav>
    </header>

    <div class="flex justify-center">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="flex justify-center">
        &copy; 2022 - controle de cursos
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
