@{
    ViewData["Title"] = "Home";
}

<div class="flex flex-col items-center w-full mt-20">
    <div class="flex justify-between items-center w-full">
        <div class="flex items-center gap-12">
            <h1 class="text-4xl font-bold">
                Candidatos
            </h1>
            
            <a asp-area="" asp-controller="NewApplicant" asp-action="Index" class="flex text-lg font-bold items-center gap-2 p-4 bg-emerald-500 rounded-md hover:bg-emerald-400 transition cursor-pointer" >
                <i class="ph-plus-bold text-xl"></i>
                Adicionar candidato
            </a>
        </div>

        <label class="flex gap-2 font-bold" for="subscrived">
            Candidatos inscritos
            <input type="checkbox" name="subscrived" id="subscrived">
        </label>
    </div>

    <table class="mt-20 w-full text-left border-separate border-spacing-y-2 ">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th class="text-center">Inscrito?</th>
        </tr>
        <a >
            <tr class="text-zinc-800 bg-gray-100 align-middle ">
                <td class="p-4 rounded-l-md">John Doe</td>
                <td>johndoe@gmail.com</td>
                <td>(61) 9 9952-6521</td>
                <td class="text-center"><i class="align-middle ph-check-bold text-emerald-500 text-2xl"></i></td>
                <td class="text-right pr-6 rounded-r-md"><i class="ph-arrow-square-out-bold align-middle text-sky-500 text-2xl"></i></td>
            </tr>
        </a>
    </table>
</div>
